<ng-container *ngIf="meetingObj">
    <mat-card *ngFor="let meeting of meetingObj">
        <mat-card-header>
            <mat-card-title>{{meeting?.fullname}}</mat-card-title>
            <mat-card-subtitle>{{meeting?.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{meeting?.contact}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="meeting?.meetingSchedule === 'yes'">
                <p>Day: {{meeting?.meetingDate}} </p>
                <p>Time: {{meeting?.meetingTime}} </p>
            </ng-container>
            <p *ngIf="meeting?.message"> {{meeting?.message}}</p>
        </mat-card-content>
    </mat-card>
</ng-container>