<div class="navigation">
    <mat-tab-group class="remove-border-bottom" (selectedTabChange)="onTabChanged($event)"
        [selectedIndex]="selectedIndex">
        <mat-tab *ngFor="let p of pages; let i = index">
            <ng-template mat-tab-label>
                <mat-icon>{{p.icon}}</mat-icon>
                <span [class.active]="selectedIndex === i">{{p.title}}</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>