@import "../../themes/custom-theme.scss";

.navigation {
    padding: 10px 0px;
    background-color: rgb(230, 230, 230);
}

::ng-deep mat-tab-group {
    &.focus {
        color: red;
    }
}
.remove-border-bottom ::ng-deep .mat-ink-bar {
    display: none;
    width: 0px !important;
}

::ng-deep .mat-tab-header {
    border-bottom: 0px !important;
}

.active {
    color: $font-color-blue;
}
