<div class="banner ">
    <div class="row">
        <img class="col img-fluid p-0" src="assets/video-img.png" alt="">

        <div class="col col-12 col-md-3 banner-right">
            <h1>Why have a financial adviser?</h1>
            <p>
                Haven was created out of the need to simply do things better. With the specialist advisers accross a
                range
                of
                financial services, we will offer you the best, practical advice for your unique situation.
            </p>
            <p>
                Our Financial
                advisers span the north and sout island making us cnveniently positioned where you need us.</p>

            <div class="learn-more">
                <input type="text" placeholder="Learn more about our advisers">
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </div>


        </div>


    </div>