@import "../../themes/custom-theme.scss";

.banner-right {
    padding: 50px;
    text-align: center;
    background-color: $background-color-blue;

    h1,
    p {
        color: $font-color-white;
        text-align: center;
    }

    h1 {
        font-size: 3.5em;
        text-align: left;
        line-height: 50px;
    }

    p {
        font-size: 1.5em;
        line-height: normal;
        text-align: justify;
        margin: 30px;
    }

    @media only screen and (max-width: 1366px) {
        width: 100%;
    }

    .learn-more {
        display: flex;
        height: 50px;
        outline: 2px white solid;
        position: relative;
        margin-top: 20px;
        input {
            width: 100%;
            border: 0px;
            background-color: $background-color-blue;

            &::placeholder {
                color: $font-color-white;
            }
        }
        img {
            height: 50px;
            width: 50px;
        }

        @media only screen and (min-width: 1024px) {
            margin-top: 150px;
        }
    }
}

.mat-divider{
    margin: 0px 50px;
}