<ng-container *ngIf="meetings; else noMeetings">
    <meeting-component [meeting]="meetings"></meeting-component>

    <button *ngIf="meetings.length > 0" (click)="clearSchedule()">Clear Schedule</button>
</ng-container>


<ng-template #noMeetings>
    <mat-card>You have no appointments at the moment</mat-card>
</ng-template>