@import "../../themes/custom-theme.scss";

h1 {
    font-size: 6rem;
    font-weight: 500;
    line-height: normal;
}

p {
    font-size: 3em;
    line-height: normal;
}
.dashboard-left {
    padding: 20px 50px 100px 50px;
    background-color: $background-color-blue;

    h1,
    p {
        color: white;
    }
}

.logo {
    margin-bottom: 100px;
    height: 50px;
}

.arrow-icon {
    background-color: grey;
    position: absolute;
    right: 0px;
}

.dashboard-right {
    padding: 100px;
    background-color: $background-color-white;
}

@media only screen and (max-width: 1024px) {
    .dashboard-right,
    .dashboard-left {
        width: 100%;
    }
}
