<div class="row">
    <div class="col col-12 col-md-6 dashboard-left ">

        <img class="logo" src="assets/logo.png" alt="">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad
            minim veniam.</p>

    </div>
    <div class="col col-12 col-md-6 dashboard-right ">
        <h1 class="text-align-center">News & blog</h1>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <div>KiwiSaver HomeStart grant explained</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
            <mat-list-item>
                <div>What's happening in the property market</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
            <mat-list-item>
                <div>Trust law reform</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
            <mat-list-item>
                <div>Tax update- Simplification of taxes, foreign ...</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
            <mat-list-item>
                <div>What do the new lending rules mean?</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
            <mat-list-item>
                <div>How will the Reserve Bank respond to ...</div>
                <img class="arrow-icon" src="assets/white-arrow.png" alt="">
            </mat-list-item>
        </mat-list>
    </div>
</div>