@import "../../themes/custom-theme.scss";

.footer {
    background-color: rgb(54, 54, 54);
    height: 100%;
}

input {
    background-color: transparent;
    border: 2px solid white;

    &::placeholder {
        color: grey;
    }
}

h1 {
    text-align: center;
    @media only screen and (min-width: 1024px) {
        width: 400px;
        margin-bottom: 0px;
    }
}

.fullname {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    @media only screen and (min-width: 1024px) {
        width: 200px;
        margin-bottom: 0px;
    }
}

.email {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    @media only screen and (min-width: 1024px) {
        width: 200px;
        margin-left: 20px;
        margin-bottom: 0px;
    }
}

.submit-button {
    width: 100%;
    color: $font-color-white;
    font-weight: 500;
    background-color: $background-color-blue;
    height: 40px;
    border: none;
    @media only screen and (min-width: 1024px) {
        width: 100px;
        margin-left: 20px;
    }
}

.white-color {
    color: $font-color-white;
}

.signup-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    @media only screen and (min-width: 1024px) {
        padding: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

.mat-divider {
    margin: 50px;
    border-top-width: 2px;
    border-top-color: rgb(184, 184, 184);
}

.bottom-section {
    text-align: center;
    img {
        width: 200px;
    }

    ul {
        list-style: none;
    }

    .footer-links {
        display: flex;
        margin: 50px 0px;
        text-align: center;

        li {
            display: block;
            list-style: none;
            margin: 10px;
            font-size: 1em;
            font-weight: 500;
            color: rgb(185, 185, 185);
            text-transform: uppercase;
            width: 100%;

            @media only screen and (min-width: 1024px) {
                width: 120px;
            }
        }

        + p {
            color: rgb(185, 185, 185);
        }
    }

    + .mat-divider {
        margin: 50px 50px 0px 50px;
        border-top-width: 1px;
        border-top-color: rgb(184, 184, 184);

        + p {
            font-size: 1.1em;
            color: rgb(185, 185, 185);
            text-align: center;
            padding: 10px 20px 20px 20px;

            @media only screen and (min-width: 1024px) {
                text-align: end;
                margin-right: 50px;
            }
        }
    }
}
