<div class="footer">
    <div class="signup-section align-items-center justify-content-center ">
        <h1 class="white-color">SIGN UP TO OUR NEWSLETTER</h1>
        <input class="fullname" type="text" placeholder="Full name">
        <input class="email" type="text" placeholder="Email Address">
        <button class="submit-button">Submit</button>
    </div>
    <mat-divider class="p-0"></mat-divider>

    <div class="bottom-section">
        <img class="col" src="assets/logo.png" alt="">
        <div class="row footer-links align-items-center justify-content-center ">
            <li> Home </li>
            <li> Our Services</li>
            <li> About us</li>
            <li> Testimonials </li>
            <li> Paprika </li>
            <li> Blog </li>
        </div>
        <p class="text-center p-0">0800 700 699 <br>reception@havenadvicers.co.nz</p>

    </div>

    <mat-divider class="p-0"></mat-divider>
    <p class="float-right">Copyright &copy; 2017 Haven Advisers Limited. All rights reserved.</p>
</div>