@import "../../themes/custom-theme.scss";

form {
    * {
        color: $font-color-white !important;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .mat-form-field-flex {
        border: 2px solid white;
        border-radius: 0px;
    }

    .mat-form-field-underline {
        background-color: red;
    }

    .submit-button {
        color: $font-color-blue !important;
        background-color: $background-color-white;
    }
}

::ng-deep ngx-material-timepicker-content {
    --body-background-color: #fff;
    --primary-font-family: "Roboto", sans-serif;
    --button-color: rgb(63, 81, 181) !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, 0.5);
    --dial-background-color: rgb(63, 81, 181) !important;
    --dial-editable-active-color: rgb(63, 81, 181) !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: rgb(63, 81, 181) !important;

    input {
        outline: none;
    }
}
