<form [formGroup]="contactUsForm">
    <div class="row">
        <mat-form-field class="col col-sm-12 col-lg-4" appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" formControlName="fullname">
            <button *ngIf="fullname.value" matSuffix mat-icon-button (click)="clearValue(fullname)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="fullname.invalid && fullname.hasError('required')">
                Fullname is required
            </mat-error>

        </mat-form-field>

        <mat-form-field class="col col-sm-12 col-lg-4" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <button *ngIf="email.value.length > 0" matSuffix mat-icon-button (click)="clearValue(email)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="email.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="email.invalid && email.hasError('email')">
                Please provide a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col col-sm-12 col-lg-4" appearance="fill">
            <mat-label>Contact Number</mat-label>
            <input matInput required type="number" formControlName="contact">
            <button *ngIf="contact.value.length > 0" matSuffix mat-icon-button (click)="clearValue(contact)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="contact.invalid && contact.hasError('required')">
                Contact number is required
            </mat-error>

        </mat-form-field>
    </div>

    <div class="row">

        <mat-form-field class="col col-sm-12 col-lg-4 " appearance="fill">
            <mat-label>Book a meeting</mat-label>
            <mat-select formControlName="meetingSchedule" [errorStateMatcher]="matcher"
                (selectionChange)="setSelected($event)">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
            </mat-select>
            <mat-error *ngIf="meetingSchedule.invalid && meetingSchedule.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col col-sm-12 col-lg-4" appearance="fill">
            <mat-label>Preferred Date</mat-label>
            <input matInput type="text" [matDatepicker]="picker" formControlName="meetingDate"
                (dateChange)="setDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>

            <mat-error *ngIf="meetingDate.invalid && meetingDate.hasError('required')">
                Please choose a date
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col col-sm-12 col-lg-4" appearance="fill">
            <mat-label>Preferred Time</mat-label>
            <input matInput [ngxTimepicker]="defaultValue" formControlName="meetingTime">
            <ngx-material-timepicker #defaultValue touchUi></ngx-material-timepicker>

            <button *ngIf="meetingTime.value.length > 0" matSuffix mat-icon-button (click)="clearValue(meetingTime)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="meetingTime.invalid && meetingTime.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
            <button *ngIf="message.value.length > 0" matSuffix mat-icon-button (click)="clearValue(message)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="message.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

    </div>
    <button class="col-12 col-md-2 float-sm-end submit-button" mat-stroked-button (click)="submit()">Submit</button>
</form>