@import "../../themes/custom-theme.scss";

.contact-left {
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: $background-color-blue;
    color: $font-color-white;

    .mat-divider{
        border: 1px solid white;
        margin-bottom: 50px;
    }
    .forms {
        margin-top: 50px;
        ::ng-deep {
            .mat-form-field-flex {
                border: 2px solid $font-color-white;
                border-radius: 0px;
            }
        }
    }

    p {
        margin: 0 auto;
        margin-top:20px;
        text-align: justify;
    }
}

.contact-right {
    padding: 50px 100px;

    mat-icon {
        color: lightgrey;
        margin-right: 50px;
    }

    .mat-divider {
        border-top-width: 2px;
        border-top-color: rgb(184, 184, 184);
    }

    h1 {
        text-align: center;
        color: $font-color-blue;
        @media only screen and (min-width: 720px) {
            text-align: start;
        }
    }

    @media only screen and (min-width: 720px) {
        padding-top: 100px;
    }

    .list-label {
        color: rgb(83, 83, 83);
        font-weight: 500;
    }
}
