<div class="row">

    <div class="col-md-6 contact-left">
        <mat-divider class="d-md-none"></mat-divider>

        <h1 class="text-center">Contact Us Today</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
        </p>
        <div class="forms">
            <lib-forms></lib-forms>
        </div>
    </div>

    <div class="col-md-6 contact-right">
        <h1 class="text-align-center">Contact Us</h1>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>location_on</mat-icon>
                <div class="list-label">Find an adviser</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>question_answer</mat-icon>
                <div class="list-label">Talk to an Accountant</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <div class="list-label">Talk to a mortgage broker</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>call</mat-icon>
                <div class="list-label">0800 700 699</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>email</mat-icon>
                <div class="list-label">reception@havenadvisers.co.nz</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>facebook</mat-icon>
                <div class="list-label">Be a part of our Facebook Community</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>