//Define Colors
$white: #fff;
$black: black;
$grey: grey;
$light-blue: rgba(0, 153, 255, 0.849);

$font-color-white: $white;
$font-color-blue: $light-blue;

$background-color-blue: $light-blue;
$background-color-white: $white;
